# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qmmghddeqffzqorbiman.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_qYU8Xvh-lMJGZTOJKdZFgg_wqB1rzdu
SUPABASE_SECRET_KEY=sb_secret_REPLACE_ME
SUPABASE_JWKS_URL=https://qmmghddeqffzqorbiman.supabase.co/auth/v1/.well-known/jwks.json

# Site
NEXT_PUBLIC_SITE_URL=https://antony-lambiportfolio.vercel.app
